#wrapper{
  display:flex;
  flex-direction: column;
  height: 100%;
}

#main{
  flex: 1 0 auto;
  display:flex;
  justify-content:center;
  align-items: center;
}


footer{
  flex-shrink: 0;
  background-color:#000;
  color:#fff;
}

